@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Open+Sans+Condensed:wght@300&display=swap');
.recipe{
    min-height: 100vh;
    position: relative;

    &__logo{
        position: absolute;
        top: 0;
        right: 0;
        height: 10rem;
        width: 10rem;
    }

    &__holder{
        display: grid;
        grid-template-rows: repeat(auto-fit,40vh);
        grid-template-columns: repeat(2,minmax(400px,1fr));
        grid-auto-rows: 40vh;

        &-image-box{
            grid-row: 1/2;
            grid-column: 1/2;
            display: grid;
            place-items: center;

            &-image{
                border-radius: 50%;
            }

            &-text{
                font-weight: bold;
                font-family: 'Open Sans Condensed';
            }
        }
        &-basics{
            grid-row: 1/2;
            grid-column: 2/3;
            padding: 1rem;


            &-text{
                font-family: 'Merriweather', serif;
                padding: .5rem;
            }
            &-link{
                font-family: 'Merriweather', serif;
                text-decoration: none;
                padding: .5rem;
            }

            &-list{
                font-family: 'Merriweather', serif;
                padding-left: .5rem;
                background-color: rgb(102, 102, 233);
                margin: .1rem;
                border-radius: 20px;
                color: white;
            }
        }
        &-ingredient{
            grid-row: 2/3;
            grid-column: 1/2;
            padding: 1rem;

            &-text{
                font-family: 'Merriweather', serif;
                padding: .5rem;
            }

            &-list{
                font-family: 'Merriweather', serif;
                padding-left: .5rem;
            }
        }
        &-vitamins{
            grid-row: 2/3;
            grid-column: 2/3;
            padding: 1rem;

            &-text{
                font-family: 'Merriweather', serif;
                padding: .5rem;
            }

            &-list{
                font-family: 'Merriweather', serif;
                padding-left: .5rem;
            }
        }
    }
}
.logo-box{
    min-height: 20vh;
}