<!-- this coponent act as an holder that holds our landing page  element -->
<div class="landing">

    <div class="landing__holder">
  
      <div class="landing__intro">
        <p class="landing__intro-text">In <span style="color: red;font-weight: bold;"> Head over Meal </span> We believe that everyone deserves good food & nothing looks as good as healthy feels</p>
        <button class="landing__intro-button" routerLink='/search'>Explore the Endless</button>
      </div> 
  
      <img src="../../assets/images/landing_holder_image.png" alt="momo" class="landing__holder__img">
      <img src="../../assets/images/logo.png" alt="logo" class="landing__logo">
  
      <h2 class="landing__foot">we aim to provide</h2>
      <div class="landing__motto">
        <div class="landing__motto-box">
          <img src="../../assets/images/foot1.jpg" alt="foot" class="landing__motto-image">
          <p class="landing__motto-text">Good Food</p>
        </div>
        <div class="landing__motto-box">
          <img src="../../assets/images/foot2.jpg" alt="foot" class="landing__motto-image">
          <p class="landing__motto-text">Great Recipe</p>
        </div>
        <div class="landing__motto-box">
          <img src="../../assets/images/foot3.jpg" alt="foot" class="landing__motto-image">
          <p class="landing__motto-text">Greater Nutritions</p>
        </div>
        
      </div>
  
    </div>
  
  </div>
