<nav class="search">
    <img src="../../assets/images/logo.png" alt="logo" class="search__logo">
    <form class="search__form">
        <input type="text" name="search" placeholder="Search for a recipe" class="search__input" [(ngModel)]="search">
        <button type="submit" class="search__button" (click)="fetchRecipe()"> Search </button>
    </form>
</nav>
<div class="food__card" >
        <app-card *ngFor="let recipe of RecipeData" [url]="recipe.recipe.image" [name]="recipe.recipe.label"></app-card>
</div>